<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>abcdefg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C740C1921D0021BC0044B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C740C1AB1D0021BC0044B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C740C1B61D0021BC0044B70E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
